{% extends 'base.html' %}
{% block content %}

{% for video in videos %}
<a href="{% url 'video_detail_url' video.slug %}">{{ video.title }}</a>
<video class="video-fluid" autoplay loop muted height="450px" width="350"> <source src="{{ video.video.url }}"></video>

    {% endfor %}
<section>
									<header class="main">
									</header>
										{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<div class="alert alert-success" role="alert">{{ message }}</div>
										{% endfor %}
									</ul>
									{% endif %}
{% endblock %}