{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="categories">




          </div>

          </div>
        </div>
      </div>
    </div>
  </section>




<section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">


        <div class="col-lg-14">
          <div class="section-heading">
            <h2>Welcom</h2>

                          <div class="card text-white bg-secondary mb-15" style="max-width: 150rem;">
              <div class="card-header"><h1 style="text-align: center;">Video</h1></div>

        <div style="display: flex; flex-direction: column">
            <div style="display: flex; padding-left: 30px;" >
         <img style="height: 390px; width: 300px;" src="{{ video.image.url }}" alt="">
        <div style="padding-left: 30px;"><h2 style="text-align: start; width:50%">Title: {{ video.title }} </h2>
          <table>
            <tr>
                <td><h3 style="text-align: start">Genre: </h3></td><td><h3 style="text-align: start"> {{ video.category }}</h3></td>
           </tr>
           <tr>
                 <td><h4>Description: </h4></td><td><p>{{ video.description }}</p></td>
          </tr>
          </table>

            {% if request.user.is_authenticated and request.user == video.user %}
            <a href="{% url 'update_video_url' video.id %}"><button type="button" class="btn btn-success">Update</button></a>
            <a href="{% url 'delete_video_url' video.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                {% endif %}
             </div>
         </div>

            <div style="display: flex; justify-content: center;" >
            <video class="video-fluid" controls autoplay loop muted height="600px" width="950">
                <source src="{{ video.video.url }}">
            </video>
                </div>
                <div style="display:inline-block;">
                <a href="{% url 'fav_url' video.slug %}"><button type="button" class="btn btn-outline-warning btn-sm; display:inline-block;">Favourite</button></a>
<!--                </form>-->
                <form  style="padding-left: 20px; display:inline-block;" action="{% url 'like_video' video.pk %}" method="POST" >
                {% csrf_token %}
                <button type="submit" name="video_id" value="{{ video.id }}"
                        class="btn btn-outline-primary btn-sm">Like</button>
                <p style="display:inline-block; padding-right: 20px;">{{likes}}</p>
            </form>
                </div>
            </div>

            </div>

              <div class="card">
                    <div class="card-body">


<!--              commentss-->
              <div style="color: black"><h3>All comments ({{ comment.count }})</h3>
              {% for comm in comment %}
                  <h3>{{ comm.user }}</h3>  -- {{ comm.create_at}} <br>
             <div> <p>Comment: {{ comm.text }}</p>  <a href="{% url 'delete_comment_url' comm.id %}">
                 {% if request.user == video.user or request.user == comm.user %}
                 <button type="button" class="btn btn-danger">Delete Comment</button>

             {% endif %}
             </a></div>
                        <br><br>

              {% endfor %}</div>
              <p>
              {% if request.user.is_authenticated %}
              <form action="" method="post">
                  {% csrf_token %}
                  {{form}}
                  <input type="submit" value="Send">
              {% else %}
              <a>You Must Be Logged In To Comment </a>
              <li><a href="{% url 'register' %}">Sign up</a></li>
              <li><a href="{% url 'login' %}">Log in</a></li>
              {% endif %}
              </form>
                </p>
                        </div>

          </div>
          </div>
        </div>


        <div class="col-lg-8">
          <div class="row">
            {% for video in videos %}



            <div class="col-lg-4">
              <div class="meeting-item">
                <div class="thumb">
                    <img height="350px" width="900" src="{{ video.image.url }}" alt="">
<!--                <video class="video-fluid" autoplay loop muted height="550" width="400" > <source src="{{ video.video.url }}"></video>-->
                </div>
                <div class="down-content">

                  <a href="{% url 'video_detail_url' video.slug %}"><h4>{{ video.title}}</h4></a>

                </div>
              </div>
            </div>
            {% endfor %}
<!--            bootstarap-->
              <div class="row row-cols-1 row-cols-md-3 g-4">

          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}